name: "Simple React CI Pipeline"

on:
      push:
        branches:
          - master
          - main    
  
jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
           - name: "Setup Node JS"
             uses: actions/setup-node@v4
             with:
                node-version: '21'
        
           - name: "Check version of Node JS"
             run: node --version
           - name: "Clone Repository"
             uses: actions/checkout@v3

           - name: "List Directory Contents"
             run: ls

           - name: "Install Dependencies"
             run: npm install
             